@model Little_Beauty_2._0.Models.Categorias

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}
<div class="container body-content">
    <h2 class="text-center" style="color:pink">Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4 class="text-center">Categorias</h4>
        <hr />
        <div class="col-lg-offset-4 col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nombre_categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nombre_categoria)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apartamentos.nombre_apartamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apartamentos.nombre_apartamento)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" style="background-color:palevioletred" /> |
                    @Html.ActionLink("Ir a lista", "Index")
                </div>
            }
        </div>
    </div>
</div>