@model Little_Beauty_2._0.Models.Sub_categorias

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<div class="container body-content">
    <h2 class="text-center" style="color:pink">Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="text-center">Sub_categorias</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_sub_categoria)

            <div class="form-group">
                @Html.LabelFor(model => model.nombre_sub_categoria, htmlAttributes: new { @class = "control-label  col-md-4 text-center" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.nombre_sub_categoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre_sub_categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.id_categoria, "id_categoria", htmlAttributes: new { @class = "control-label  col-md-4 text-center" })
                <div class="col-md-6">
                    @Html.DropDownList("id_categoria", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-4">
                    <input type="submit" value="Save" class="btn btn-default"style="background-color:palevioletred" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Ir a la lista", "Index")
    </div>
</div>