@model IEnumerable<Little_Beauty_2._0.Models.Orden>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAlmacen.cshtml";
}
<div class="container body-content text-center">
    <h2>Ordenes pendientes de fecha de envio</h2>

    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_confirmacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_envio)
            </th>
   
            <th>
                @Html.DisplayNameFor(model => model.Clientes.nombre_cliente)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string val;
            if (item.fecha_envio.HasValue)
            {
                val = item.fecha_envio.GetValueOrDefault().ToShortDateString();
            }
            else
            {
                val = "";
            }
            <tr>
                <td>
             
                    @Html.TextBoxFor(modelItem => item.fecha_creacion,new {@class="form-control",@Value=item.fecha_creacion.ToShortDateString(),@readonly="readonly" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.num_confirmacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.direccion)
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.fecha_envio, new { @class = "form-control", @Value =@val, @readonly = "readonly" })
                </td>
          
                <td>
                    @Html.DisplayFor(modelItem => item.Clientes.nombre_cliente)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.id_orden }, new { @class = "glyphicon glyphicon-pencil", @style = "color:palevioletred" }) |
                    @Html.ActionLink(" ", "Details", new { id = item.id_orden }, new { @class = "glyphicon glyphicon-file", @style = "color:palevioletred" })
                </td>
            </tr>
        }

    </table>
</div>