@model Little_Beauty_2._0.Models.Paquetes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAlmacen.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Paquetes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_paquete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_paquete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_paquete }) |
    @Html.ActionLink("Back to List", "Index")
</p>
